@font-face {
	font-family: 'markerfelt-webfont';
	src: url('../font/markerfelt-webfont.eot'); /* IE9 Compat Modes */
	src: url('../font/markerfelt-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../font/markerfelt-webfont.woff') format('woff'), /* Modern Browsers */
	     url('../font/markerfelt-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../font/markerfelt-webfont.svg#markerfelt-webfont') format('svg'); /* Legacy iOS */
	}

body{
	background: url('../img/background.jpg');
	background-size: cover;
	background-attachment:fixed;
	font-family: "Myriad Pro",Helvetica, Arial;
	font-size: 14px;
	color: #222;
}

html, body { height: 100%;}
html {height: 101%;}
a { text-decoration: none; color: #fff}
a:hover { text-decoration: underline;}

/* mesasage boxes */
.success, .warning, .error, .info {
	border: 1px solid;
	padding:15px;
	font-size:13px;
	margin-bottom: 10px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.info { color: #00529B; background-color: #BDE5F8; background-image: url('../img/info.png');}
.success {color: #4F8A10; background-color: #DFF2BF; background-image:url('../img/success.png');}
.warning {color: #9F6000; background-color: #FEEFB3; background-image: url('../img/warning.png');}
.error {background-color: #FFBABA; color: #D8000C; background-image: url('../img/error.png');}

#container {position:relative; min-height:100%;}

/* play button */
#playButton {
	transition: 0.4s ease;
	position: absolute;
	width: 200px;
	border-radius: 0px 0px 50px 50px;
	margin: 0 40px;
	padding: 5px 0px 5px 0px;
	display: block;
	cursor: pointer;
	background-color: #ff6600;
	text-align: center;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	border: 1px solid #cc6600;
	text-decoration: none;
}
#playButton:hover {
	padding-top: 8px;
}
@media only screen and (max-width: 1640px) {
	#playButton {margin: 0 auto; width: 100%; border-radius: 0px; border-left: none; border-right: none;}
	#content { margin-top: 30px;}
}

/* Header */
#header {background-color: #000; width: 100%; }
#inner-header {max-width: 1400px; margin: 0 auto;}

/* Logo */
#logo,#logo-login { float: left; }
#logo img, #logo-login img {
	margin-left: 10px;
	width: 50px;
	height: 50px;
	padding: 5px;
}

/* header login */
#header .login {height: 24px;padding: 18px 10px; }
#header .login input {
	margin: 0px 5px;
	height: 18px;
	line-height: 18px;
	font-size: 14px;
	padding: 3px;
	border: 1px solid #333;
	background-color: #444;
	color: #fff;
	width: 100px;
}
#header .login input:focus {border-color: #ff6600;}
#header .login .submit {
	height: 26px;
	line-height: 26px;
	font-size: 16px;
	padding: 0px;
	font-weight: bold;
	width: 80px;
	background-color: #ff6600;
	border-color: #ff6600;
	cursor: pointer;	
}
/* header register */
#header .register{ padding: 18px 100px; }
#header .register a{
	width: 80px;
	height: 26px;
	font-weight: bold;
	line-height: 26px;
	text-align: center;
	display: block;
	font-size: 16px;
	background-color: #ff6600;
	border-color: #ff6600;
}

/* Menu */
#menu li {
	float: left;
	height: 60px;
	overflow: hidden;
}
#menu li a {
	display: block;
	outline: 0;
	padding: 22px 15px;
	font-size: 16px;
	font-family: "Myriad Pro",Helvetica, Arial;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	font-weight: bold;
}
#menu li a:after {
    content: '';
    display: block;
    margin-top: 6px;
    border-bottom: 3px solid #ff6600;
    width: 0;
    -webkit-transition: 0.5s ease;
       -moz-transition: 0.5s ease;
            transition: 0.5s ease;
}
#menu li a:hover:after { width: 100%; }

/* Header items */
#header-items {
	float: right;
}
#header-items li {
	float: left;
	height: 20px;
	padding: 20px 10px;
}

/* search item */
#header-items .search {
	position: relative;
	width: 200px;
}
#header-items .search img, #header-items .search input {
	float: right;
	display: block;
}
#header-items .search img {
	cursor: pointer;
	z-index: 1;
	position: absolute;
	right: 0;
	width: 16px;
	height: 16px;
	padding: 2px 20px 2px 2px;
}
.search input {
	transition: 0.5s ease;
	margin-top: -3px;
	margin-right: 6px;
	font-size: 14px;
	line-height: 14px;
	padding: 3px;
	width: 194px;
	border: 1px solid #333;
	background-color: #444;
	color: #fff;
}
#header-items .search .hide {
	opacity: 0;
	width: 0px;
} 


/* profile */
#header-items .profile {
	position: relative;
	background-color: #333;
	height: 20px;
	color: #fff;
	padding: 3px 10px 3px 33px;
	margin-top: 17px;
	margin-right: 75px;
}
#header-items .profile p {
	font-family: 'markerfelt-webfont', Fallback, sans-serif;
	letter-spacing: 1px;
	font-size: 16px;
	line-height: 20px;
}
#header-items .profile .avatar {
	position: absolute;
	left: 0;
	height: 26px;
	top: 0;
}

/* Setting menu*/
#header-items .profile .settings {
	position: absolute;
	outline: 0;
	right: 0;
	height: 20px;
	top: 4px;
	margin-right: -36px;
}

#settings-menu{
	position: absolute;
	z-index: 1;
	top: 40px;
	right: -65px;
	background-color: rgba(51,51,51,0.95);
	width: 100px;
	border: 3px solid rgba(0,0,0,0.95);
	height: 72px;
	-webkit-transition: 0.5s ease;
       -moz-transition: 0.5s ease;
            transition: 0.5s ease;
}
#header-items .profile .hide{ z-index: -1; opacity: 0; height: 0px;}
#header-items .profile .hide a { cursor: default;}
#settings-menu a {
	font-family: "Myriad Pro",Helvetica, Arial;
	font-size: 14px;
	padding: 5px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	display: block;
}
#header-items .profile #settings-menu a:hover {
	background-color: rgba(41,41,41,0.95);
}

#header-items .profile .friends {
	position: absolute;
	outline: 0;
	right: 0;
	height: 20px;
	top: 4px;
	margin-right: -62px;
}

/* Friend requests drop down*/
#friend-requests-count {
	display: none;
	position: absolute;
	background-color: #ff6600;
	padding: 1px;
	font-size: 10px;
	line-height: 16px;
	text-align: center;
	min-width: 12px;
	height: 14px;
	border-radius: 300px;
	font-weight: bold;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
	bottom: -8px;
	right: -8px;
}
#header-items .profile #friend-requests {
	display: none;
	position: absolute;
	z-index: 1;
	top: 40px;
	right: -65px;
	background-color: rgba(51,51,51,0.95);
	min-width: 200px;
	border: 3px solid rgba(0,0,0,0.95);;
}
#header-items .profile #friend-requests p {
	font-family: "Myriad Pro",Helvetica, Arial;
	font-size: 14px;
	padding: 5px;
	text-align: center;
}
#header-items .profile #friend-requests tr:hover { background-color: rgba(41,41,41,0.95); }
#header-items .profile #friend-requests td { padding: 5px;vertical-align:middle }
#header-items .profile #friend-requests a {	text-decoration: none; color: #fff;}
#header-items .profile #friend-requests .accept {color: green;}
#header-items .profile #friend-requests .refuse {color: red;}
#header-items .profile #friend-requests a:hover {text-decoration: underline;}

/* Content */
#content { padding: 20px 10px; transition: 0.4s ease;}
#content-title { 
	position: relative;
	font-family: 'markerfelt-webfont', Fallback, sans-serif;
	max-width: 994px; 
	margin: 0 auto; 
	background-color: #000; 
	padding: 10px 30px;
	font-size: 18px;
	height: 18px;
	line-height: 18px;
	letter-spacing: 1px;
	color: #fff; 
}
#content-title:before {
	content: ' ';
	bottom: 0;
	left: 0;
	margin-bottom: -7px;
	position: absolute;
	width: 7px;
	height: 7px;
	background: url('../img/left-corner.png') center;
}
#content-title:after {
	content: ' ';
	bottom: 0;
	right: 0;
	margin-bottom: -7px;
	position: absolute;
	width: 7px;
	height: 7px;
	background: url('../img/right-corner.png') center;
} 

#inner-content { max-width: 1000px; margin: 0 auto; padding: 20px; margin-bottom: 40px; background-color: rgba(255,102,0,0.9); border-bottom: 3px solid #000;}

/* footer */
#footer {position: absolute; bottom:0; width: 100%; height: 46px; background-color: #655353; color: #888; font-family: "Myriad Pro",Helvetica, Arial;}
#inner-footer {max-width: 1200px; margin: 0 auto; padding: 10px; text-align: center; font-size: 16px;}

@media only screen and (max-width: 1080px) {
	#content-title { max-width: 980px;	}
	#content-title:before { display: none;}
	#content-title:after { display: none;}
	#logo { position: absolute; top: 10px;}

	#menu {width: 100%; margin-left: 78px;}
	#menu li a {padding: 22px 8px;}
	#header-items {	float: left; padding-left: 10px; margin-top: -30px; width: 90%; margin-left: 68px;}
	#header #header-items .search input { width: 190px; opacity: 100;}

}

@media only screen and (max-width: 600px) {
	#logo {position: static; width: 100%; display: block; text-align: center;}
	#menu {margin-left: 0px;}
	#menu li {float: none; text-align: center; width: 100%; height: 40px; }
	#menu li a {border-bottom: 1px solid #ff6600; width: 90%; margin: 0 auto; padding: 10px;}
	#header-items {	margin-top: 0px; margin-left: 0px; float: none; clear: both; padding-bottom: 15px;}
	#header-items li {float: right;}
	#header #header-items .search { width: 80%; margin: 0px 10%; padding: 15px 0px;  }
	#header #header-items .search input { width: 100%; }
	#menu li a:after {display: none;}
	#header-items .profile {float: none; clear: both;}
}

/* headings*/
h1 { font-size: 20px; font-weight: bold; margin-bottom: 10px; }
h2 { font-size: 16px; font-weight: bold; margin-bottom: 10px; }

/* forms */
label {
	display: inline-block;
	min-width: 100px;
	padding: 10px 0px;
}
label:after { content: ':' }

input {
	border: 1px solid #666;
	padding: 3px;
	background-color: #ddd;
}
input[type=submit]{
	color: #ff6600;
	font-weight: bold;
	margin-left: 104px;
	cursor: pointer;
}


.clear{
	clear:both;
}

/* Level - career page */
#levels li{
	width: 100%;
	float: left;
	margin-bottom: 15px
}
.level-image{float: left; width: 33%;}
.level-data{float: left; width: 64%; padding: 1%;}

.level-data p{
	color: black;
}
/* Ranking page */

.ranking h2{color: white;font-family: 'markerfelt-webfont', Fallback, sans-serif; font-size: 24px}
.ranking ol{
	list-style-type: decimal;
	list-style-position:inside;
	display: block;
	color: black;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	margin-bottom: 20px
}
.ranking ol li{
	padding: 10px;
	list-style-color: white;
	font-size: 16px;
	background-color: #ea792d;

}
.ranking ol li:nth-child(2n){
	background-color: #d45805
}

.ranking ol li:first-child{

	background: no-repeat #ea792d url('http://localhost:8888/indysix2/data/css/images/logo.png') ;
	background-position:center; 

}
span.username{
	color: white;
	text-transform: capitalize;
}

#king{
	width: 49%;
	float: left;

}
#levelranking{
	width: 49%;
	float: right;
}

.score{
	float: right;
}

/* Video page */

.video{
	width:30%;
	float: left;
	padding-left: 1.5%;
	padding-right: 1.5%;
	margin-bottom: 20px;
}
.video-embed{
	width: 100%;
}

/* login page */
#content .left {
	float:left; 
	width:48%;
}
#content .left li{ padding: 10px; }
#content .right {
	float:right;
	width:48%;
}

/* search page*/
#search-results p {
	margin-bottom: 10px;
	height: 60px;
}
#search-results a {
	font-family: 'markerfelt-webfont', Fallback, sans-serif;
	font-size: 20px;
	text-decoration: none;
}
#search-results a:hover { color: #666;}
#search-results img { vertical-align: middle; padding-right: 10px;}
#search-results .friend-button { 
	float: right;
}

#search-results .friend-button {
	width: 100px;
	font-family: "Myriad Pro",Helvetica, Arial;
	font-size: 14px;
	padding: 4px;
	border: 1px solid green;
	line-height: 20px;
	background-color: green;
	margin: 20px 0px;
	background-color: #3a8c16;
	font-weight: bold;
	text-align: center;
	//border-color: rgb(59, 110, 34) rgb(59, 110, 34) rgb(44, 81, 21);
}

