body{
	background: url('./images/background.jpg');
	background-size: cover;
	background-attachment:fixed;

}

.wrapper{
	width: 80.1%;
	margin: 0 auto;
}

#menu{
	height: 60px;
	width: 100%;
	float: left;
	background-color: #000;
}

#menu ul{
	

}

#menu ul li{
	

	font-family: "Myriad Pro",Helvetica, Arial;
	text-transform: uppercase;
	
}

#menu ul li a{
	padding: 23px;
	float: left;
	color: white;
	text-decoration: none
}
#menu ul li a:hover{
	text-decoration: underline
}

.search{
	float: right;
	
	margin-top: 20px;
	margin-right: 16px;
}

.profile{
	float: right;
	margin-top: 18px;
	width: 13.2%;
	height: 24px;
	background-color: #333
}

.settings{
	color: white;
	float: right;
	text-decoration: none;
	margin-top: 21px;
	margin-left: 16px;
}

.clear{
	clear:both;
}

#content{
	margin-top: 60px;
	background-color: orange;
	opacity: 0.9;
	/*height:300px;*/
}
.header{
	background-color: black;
	margin: -4px;
	color: white;
	height: 36px;
}
.header ul li{
	float: left;
	
	border-right: 1px orange solid;
}
.header ul li a{
	padding: 8px 16px;
	display: block;
	font-family: "Marker Felt", Helvetica, Arial;
	font-size: 18px;
	color: white;
	text-decoration: none
}
.header ul li a:hover{
	text-decoration: underline
}



#footer{
	width: 100%;
	background-color: #655353;
	height: 46px;
	float: left;
	text-align: center;
	color: #888;
	font-family: "Myriad Pro",Helvetica, Arial;
}
#footer p{
	margin-top: 16px;
}